<!DOCTYPE html>
<html>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<head>
<meta charset="UTF-8">

<title>Cadastro de Usuário</title>
</head>
<body>
	<div class="container" align="center">
		<h1>Cadastro de Usuário</h1>
	</div >
    <div class="container">
	<form action="/usuarios" method="post">

		<div>
			<label>Nome: </label><input type="text" name="nome">
		</div>
		<div>
			<label>CPF: </label><input type="text" name="cpf">
		</div>
		<div>
			<label>Endereço: </label><input type="text" name="endereco">
		</div>
		<div>
			<label>Email: </label><input type="text" name="email">
		</div>
         
         <div>
          <button type="submit">Salvar</button>
          <button type="reset">Limpar</button>
         </div>
         <p class="terms">
                Ao se cadastrar, você concorda com os nossos <a href="#">Termos de Uso</a> e a nossa <a href="#">Política de Privacidade</a>.
            </p>
             
	</form>
	
	</div>

</body>
</html>