<!DOCTYPE html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<html>
<head>
<meta charset="UTF-8">
<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/cadastrarClientes">Cadastrar Clientes</a></li>
        <li><a href="/cadastrarProduto">Cadastrar Produto</a></li>
      </ul>
    </div>
  </nav>
<title></title>
</head>
<body>
 <header>
        <h1>Bem-vindo à Minha Página</h1>
    </header>

    <div class="container">
        <section id="home" class="hero">
            <h2>Explorando Novas Ideias</h2>
            <p>Este é o lugar onde você pode compartilhar suas paixões e projetos!</p>
        </section>

        <section id="sobre">
            <h2>Sobre</h2>
            <p></p>
        </section>

        <section id="contato">
            <h2>Contato</h2>
            <p>Envie uma mensagem para: <a href="mailto:contato@meusite.com">contato@meusite.com</a></p>
        </section>
    </div>

    <footer>
        <p>&copy; 2024 Pá Pum Tá Aqui. Todos os direitos reservados.</p>
    </footer>
</body>
</html>