<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<head>
<meta charset="UTF-8">


<title>Lista de produtos</title>
</head>
<body>

<div th:replace="~{menu :: menu}"></div>
	<div class="container">
		<h1 align="center">Lista de produtos</h1>


		<table>
			<thead>
				<tr>
					<th>Codigo:</th>
					<th>Nome:</th>
					<th>Descrição:</th>
					<th>Tipo:</th>
					<th>Valor:</th>

				</tr>
			</thead>

			<tbody>
				<tr th:each="p : ${produtos}" >
					<td th:text="${p.codigo}">1</td>
					<td th:text="${p.nome}">Hamburguer</td>
					<td th:text="${p.descricao}">Frango, Azeitona</td>
					<td th:text="${p.tipo}">Lanches</td>
					<td th:text="${p.valor}">39</td>
                    <td><a th:href="@{/{codigo}/selecionar(codigo=${p.codigo})}"><i class="material-icons">edit</i></a></td>
                    <td><a th:href="@{/{codigo}/remover(codigo=${p.codigo})}"><i class="material-icons">delete</i></a></td>
				</tr>
			</tbody>


		</table>
	</div>
</body>
</html>